Port=8000
MONGODB_URI=mongodb://ns8078287_db_user:password@ac-v0s0q6n-shard-00-00.wxjqwz0.mongodb.net:27017,ac-v0s0q6n-shard-00-01.wxjqwz0.mongodb.net:27017,ac-v0s0q6n-shard-00-02.wxjqwz0.mongodb.net:27017/?ssl=true&replicaSet=atlas-icfbw6-shard-0&authSource=admin&appName=Cluster0

CORS_ORIGIN=*